# question 1

In [6]:
import pandas as pd

In [7]:
data =[4,8,15,16,23,42]

In [8]:
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
pip install pandas

Requirement already satisfied: pandas in c:\users\bhawn\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bhawn\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bhawn\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\bhawn\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\bhawn\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.1)
Requirement already satisfied: six>=1.5 in c:\users\bhawn\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.2
[notice] To update, run: C:\Users\bhawn\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

# question 2

In [15]:
lst = [11,22,33,44,55,66,77,88,99,100]
num=pd.Series(lst)
print(num)

0     11
1     22
2     33
3     44
4     55
5     66
6     77
7     88
8     99
9    100
dtype: int64

# question 3

In [16]:
data = {
    'Name': ["Nandu","Aayu","sharma"],
    'Age':[19,20,21],
    'Gender':["female","male","male"]
    
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Nandu   19  female
1    Aayu   20    male
2  sharma   21    male

# question 4

In [17]:
# In Pandas, a DataFrame is a two-dimensional labeled data structure that can hold data of different types (numeric, string, boolean, etc.) in a tabular format, similar to a spreadsheet or SQL table.

In [18]:
# On the other hand, a Pandas Series is a one-dimensional labeled array that can hold a single type of data (e.g., integers, strings, floats). It is similar to a one-column DataFrame or a labeled array.

In [20]:
age =pd.Series ([25,23,26,34])
print(age)

0    25
1    23
2    26
3    34
dtype: int64

In [23]:
# example :-

df1 ={
    "name":["papa","bhai","mummy",'big father'],
    
    "age":[43,21,39,82],
    "Gender":['male',"male",'femal','male']
}

data = pd.DataFrame(df1)
print(data)

         name  age Gender
0        papa   43   male
1        bhai   21   male
2       mummy   39  femal
3  big father   82   male

# question 5

In [24]:
# 1. head():- it give record first three data
# 2. tail():- it give record last three data if you want to see other data than use pd.tail(3)like that

In [25]:
# 3 info():-: This function provides a concise summary of the DataFrame, including the data types, non-null counts, and memory usage.
# 4. describe :-This function generates summary statistics of the numeric columns in the DataFrame, such as count, mean, min, max, etc.
# example:-

data = {'Age': [25, 30, 27, 22, 35]}
df = pd.DataFrame(data)


print(df.describe())

             Age
count   5.000000
mean   27.800000
std     4.969909
min    22.000000
25%    25.000000
50%    27.000000
75%    30.000000
max    35.000000

In [26]:
# groupby():=

data = {'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emma'],
        'Age': [25, 30, 27, 22, 35],
        'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']}
df = pd.DataFrame(data)

# Group by 'Gender' and calculate the average age for each gender
grouped_df = df.groupby('Gender')['Age'].mean()
print(grouped_df)

Gender
Female    29.0
Male      26.0
Name: Age, dtype: float64

# question6

In [27]:
# 1. Series: A Pandas Series is mutable, meaning you can modify its elements, add or delete elements, and change its values after it is created.
# 
data = [10, 20, 30, 40, 50]
series = pd.Series(data)

# Modify an element
series[2] = 35

print(series)

0    10
1    20
2    35
3    40
4    50
dtype: int64

In [28]:
# 2. DataFrame: A Pandas DataFrame is also mutable, allowing you to modify individual values, add or remove columns and rows, and perform various data manipulations.
# example:=

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Modify a value in the DataFrame
df.at[1, 'Age'] = 32

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   32    Male
2  Claire   27  Female

In [29]:
# 3.Panel: A Pandas Panel was a three-dimensional data structure in earlier versions of Pandas. However, it has been deprecated and removed in more recent versions in favor of using multi-index DataFrames or other data structures. Panels were not mutable, and their functionality has been replaced by other more versatile data structures in Pandas.

# question 7

In [30]:

names = pd.Series(['Alice', 'Bob', 'Claire'])


ages = pd.Series([25, 30, 27])


genders = pd.Series(['Female', 'Male', 'Female'])


df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})


print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female